/*main css*/

.main {
	margin-bottom: 30px;
}

.main .con {
	width: 1200px;
	height: 660px;
	margin: 0 auto;
}

.main .con .tip {
	margin-bottom: 14px;
}

.main .con .tip p {
	text-align: right;
	margin-right: 36px;
}

.main .con .tip p a {
	color: #ef760a;
}

.main .con .reg {
	width: 1200px;
	height: 634px;
	border: 1px solid #c4dfb1;
	background: #fff;
}

.main .con .reg dl {
	padding: 40px 76px 0px 150px;
	font-size: 14px;
}

.main .con .reg dl dt {
	width: 574px;
	height: 100%;
}

.main .con .reg dl dt .content{
	height: 40px;
	line-height: 40px;
	margin-bottom: 30px;
	clear: both;
}

.main .con .reg dl dt .content span,
.input,
img {
	display: block;
	float: left;
}

.main .con .reg dl dt .content .field-name {
	width: 70px;
	height: 100%;
	text-align: right;
	margin-right: 26px;
}
.main .con .reg dl dt .content i{
	float: left;
	width: 17px;
	height: 17px;
	margin-right: 4px;
	padding-top: 20px;
	display: inline-block;
}
.main .con .reg dl dt .content  .pass-error{
	display: none;
	background: url(../img/login/bg_login.png) no-repeat -40px -191px;
}
.main .con .reg dl dt .content  .pass{
	background: url(../img/login/bg_login.png) no-repeat 0px -191px;
}
.main .con .reg dl dt .content  .null{
	background: url(../img/login/bg_login.png) no-repeat -20px -191px;
}
.main .con .reg dl dt .content .erro-text{
	width: 126px;
	height: 34px;
	line-height: 34px;
	display: inline-block;
}
.main .con .reg dl dt .content .input {
	height: 38px;
	border: 1px solid #c1c1c1;
	outline: 0;
	padding-left: 16px;
	margin-right: 24px;
}

.main .con .reg dl dt .content .input-key,
.input-phone {
	width: 288px;
	background: url(../img/register/bg_input.png) no-repeat 276px -30px;
}

.main .con .reg dl dt .content .input-key {
	background-position: 276px -70px;
}

.main .con .reg dl dt .content #ehong-code,.ehong-code-val-tip {
	cursor: pointer;
	float: left;
	margin-right: 32px;
}
.main .con .reg dl dt .content #ehong-code{
	width: 54px;
	height: 40px;
	margin-right: 4px;
	border:solid 1px #6C9;	
	background-color:#DCDDD8;
	text-align: center;
}
.main .con .reg dl dt .content .get,.newget {
	width: 116px;
	height: 40px;
	background: #f7f7f7;
	border: 1px solid #c1c1c1;
	color: #008842;
	line-height: 40px;
	text-align: center;
	display: inline-block;
	margin-right: 25px;
}
.newget{
	display: none;
}
.main .con .reg dl dt .checkbox,
.reg-btn {
	padding-left: 100px;
}

.main .con .reg dl dt .checkbox #check,
span {
	display: block;
	float: left;
}

.main .con .reg dl dt .checkbox #check {
	margin-right: 10px;
}

.main .con .reg dl dt .checkbox p {
	height: 16px;
	float: left;
	line-height: 16px;
}

.main .con .reg dl dt .checkbox p a {
	color: #008842;
}

.main .con .reg dl dt .reg-btn a {
	width: 288px;
	height: 40px;
	background: #008842;
	color: #fff;
	display: block;
	text-align: center;
	line-height: 40px;
}

.main .con .reg dl dd {
	width: 400px;
	padding-top: 64px;
}

.main .con .reg dl dd img {
	width: 327px;
	height: 316px;
}


/*main css end*/