body{
	background: #f7f8f8;
}
/*头部固定导航栏---start*/
#headnav{
	/*z-index:3;*/
	
	width:100%;
	height: 30px;
	background: #f7f9f8;
}
.headnav_con{
	width: 1200px;
	margin: 0 auto;
	line-height: 30px;
}
.headnav_con li{	
	float: left;
	margin-right: 10px;
}
.headnav_con .left{
	float: left;
}
.headnav_con .green{
	position: relative;
	width: 48px;
	color:#008842;
	z-index: 12;
}
.headnav_con .green .address_con{
	position: absolute;
	background: #fff;
	width: 482px;
	left: 0;
	top: 30px;
	border: 3px solid #008842;
	color: #000;
}
.headnav_con .green .address_con{
	color: #727272;
	display: none;
}
.headnav_con .green .address_con>p{
	height: 30px;
	background: #d8d8d8;
	box-sizing: border-box;
	padding:0 5px;	
}
.headnav_con .green .address_con p a{
	float: right;
	color: #008842;
}
.headnav_con .right{
	float:right;
}
.headnav_con .drop_down div b,.headnav_con .drop_down b{
	display: block;
	width: 8px;
	height: 4px;
	background: url(../img/index/header-img.png) no-repeat 0px 0px;
	float: right;
	margin-top: 13px;	
	margin-right: 5px;
}
.green:hover .address_con{
	display: block;
}

.address_con h3{
	font-size: 14px;
	margin-left: 20px;
	margin-bottom: 10px;
}
.hotcity{
	margin-bottom: 30px;
}
.address_con ul{
	margin-left: 20px;
	margin-bottom: 30px;
}
.address_con .selectcity{
	width: 100%;	
	margin-left: 20px;
}
.address_con .selectcity li{
	width: 80px;
	margin-right: 0;
	text-align: center;
	box-sizing: border-box;
	border-bottom-width:1px;
	border-bottom-style: solid ;
	border-bottom-color:#d8d8d8;
}
.selectcity li.active2{
	border: 1px solid #d8d8d8;
	border-bottom-width:0;
}
.address_con .city div{
	margin-left: 30px;
	width: 300px;
	display: none;
}
.drop_down{
	position: relative;
	width: 90px;
	height: 30px;
	margin-top: -1px;	
}
.drop_down div{
	position: absolute;
	width: 90px;
	height: 30px;
	z-index: 12;
}
.active1{
	position:absolute;
	height: 30px;
	width:90px;
	box-sizing: border-box;
	border:1px solid #008842;
	border-bottom: 0px;
	background: #fff;
	z-index:2;
}
.my ul,.phone ul{
	width: 120px;
	position: absolute;
	top: 29px;
	left: 0;
	background: #fff;	
	border: 1px solid #008842;	
	z-index:11;
	display: none;
}
.phone ul{
	box-sizing: border-box;
	padding: 10px 5px 0px;
	clear: both;
}
.phone ul li img{
	width: 100px;
	height: 100px;	
}
.my ul li a:hover{
	color:#008842;
}
.headnav_con .my div i,
.headnav_con .phone div i,
.headnav_con .card::before,
.headnav_con .gift::before{
	content:'';
	display: block;
	width: 18px;
	height: 18px;	
	float: left;
	margin-top: 5px;
	margin-right: 5px;
}
.headnav_con .my div i{
	background: url(../img/index/header-img.png) no-repeat -40px 0px;
}
.headnav_con .phone div i{
	background: url(../img/index/header-img.png) no-repeat -63px 0px;
}
.headnav_con .card::before{
	width: 22px;
	background: url(../img/index/header-img.png) no-repeat -147px 0px;
}
.headnav_con .gift::before{
	background: url(../img/index/header-img.png) no-repeat -86px 0px;
}

.headnav_con li.active{
	color:#fff;
	background: #008842;	
}
/*头部固定导航栏---end*/

/*头部动态导航栏---start*/
#Dynamicnav{
	position: relative;
	z-index: 10;
	width: 100%;
	height: 78px;
	background: #e0e0e0;
}
#Dynamicnav .Dynamicnav_con{
	position: relative;
	width: 1200px;
	margin: 0 auto;
	line-height: 78px;
}
.Dynamicnav_con img,
.Dynamicnav_con .search
{
	float: left;
}
.Dynamicnav_con img{
	margin-top: 1%;
	margin-right: 145px;
}
.Dynamicnav_con .search{
	position: relative;
	width: 528px;
	height: 28px;
	border: 1px solid #008842;
	margin-top: 1%;

}
.Dynamicnav_con .search input{
	position: absolute;
	width: 445px;
	height: 26px;
	top: 0;
	left: 0;
	border: 0;
	outline: medium;
	background: transparent;
	padding:0 10px ;
}
.Dynamicnav_con .search span{
	position: absolute;
	display: block;
	width: 81px;
	height: 28px;
	background: #008842;	
	top: 0;
	right: 0;
	line-height: 28px;
	text-align: center;
	font-size: 14px;
	color: #fff;
}
.Dynamicnav_con .one12{
	clear: both;
	position: absolute;
	left: 291px;
	top: 28px;
	height: 20px;
}
.Dynamicnav_con .one12 li{	
	margin-right: 5px;
	height: 20px;
	float: left;
}
.Dynamicnav_con .one12 li a{
	color: #008842;
}
.ShoppingCart{
	position: relative;
	width: 172px;
	height: 42px;
	background: #fff;
	border: 1px solid #008842;
	float: right;
	margin-top: 1.5%;
	font-size: 25px;
	line-height: 42px;
	font-weight: bold;
	color: #008842;
}

.ShoppingCart p::before{
	content: '0';
	display: block;
	width: 28px;
	height: 20px;
	float: left;
	background: url(../img/index/header-img.png) no-repeat -111px 0px;
	margin-top: 7.5%;
	margin-left: 20px;
	margin-right: 15px;
	font-size: 14px;
	line-height: 12px;
	text-align: center;

}
.ShoppingCart_con{
	display: none;
	position: absolute;
	width: 380px;
	height: 120px;
	background: #fff;
	border: 1px solid #008842;
	right: -1px;	
	text-align: center;
	line-height: 120px;
}
.ShoppingCart_con img{
	height: 100px;
	position: absolute;
	left: 50%;
	margin-left: -81px;
	z-index: 2;
}
.ShoppingCart_con span{
	position: absolute;
	font-size: 12px;
	color: #000000;
	font-weight: lighter;
	z-index: 3;
	left: 25%;
}
.ShoppingCart:hover .ShoppingCart_con{
	display: block;
}
/*头部动态导航栏---end*/

/*-------------con开始-----------*/
.con{
	width: 1200px;
	height: 2500px;
	margin: 0 auto;
}
iframe{
	position: absolute;
	left: 50%;
	margin-left: -600px;
	top:108px;
	z-index: 1000;
}
.con .title{
	width: 1200px;
	height: 37px;
	border-bottom: 1px solid #008842;
	margin-bottom: 20px;
}
.con .title p{
	width: 130px;
	height: 37px;
	border: 1px solid #008842;
	float: left;
	text-align: center;
	line-height: 37px;
	color: #FFFFFF;
	background: #85B100;

}
.con .title li{
	width: 115px;
	height: 37px;
	line-height: 37px;
	text-align: center;
	float: left;
}
.con .sort{
	width: 1200px;
	height: 40px;
	background: #eaeaea;
	margin-bottom: 16px;
	padding: 5px 10px;

}

.con .sort li{
	width: 60px;
	height: 30px;
	background: #FFFFFF;
	line-height: 30px;
	text-align: center;
	float: left;
	border: 1px solid #c7c7c7;
	
}
.con .sort .one{
	width: 70px;
	height: 30px;
}
.con .sort .two a{
	display: inline-block;
	float: left;
	margin-right: 3px;
	margin-left: 9px;
}
.con .sort .two p{
	float: left;
	width: 10px;
	height: 16px;
	margin-top: 7px;
	background: url(../img/sanwenyu/icon.png) no-repeat 0px 0px;
}
.con .sort li:hover {
	background: #eeeeee;
}
.con .sort li:nth-of-type(2n):hover p {
	background: url(../img/sanwenyu/icon.png) no-repeat -10px 0px;

	
}
.con .sort .three a{
	display: inline-block;
	float: left;
	margin-right: 3px;
	margin-left: 9px;
}
.con .sort .three p{
	float: left;
	width: 10px;
	height: 16px;
	margin-top: 7px;
	background: url(../img/sanwenyu/icon.png) no-repeat -19px 0px;
}
.con .sort .four a{
	display: inline-block;
	float: left;
	margin-right: 3px;
	margin-left: 9px;
}
.con .sort .four p{
	float: left;
	width: 10px;
	height: 16px;
	margin-top: 7px;
	background: url(../img/sanwenyu/icon.png) no-repeat 0px 0px;
}
.con .con_main{
	width: 1200px;
	height: 1600px;
	overflow: hidden;
	/*background: lightblue;*/
}
.con .con_main ul{
	width: 1213px;
	height: 1600px;
}
.con .con_main ul li{
	float: left;
	height: 360px;
	width: 290px;
	margin-right: 13px;
	margin-bottom: 16px;
	background: #FFFFFF;
	position: relative;
}
.con .con_main ul li a:nth-of-type(1){
	display: block;
	width: 290px;
	height: 290px;
}
.con .con_main ul li a:nth-of-type(2){
	display: block;
	width: 46px;
	height: 46px;
	position: absolute;
	top: 10px;
	left: 10px;
}
.con .con_main ul li a:nth-of-type(2) img{
	display: block;
	width: 46px;
	height: 46px;
}
.con .con_main ul li a:nth-of-type(1) img{
	display: block;
	width: 290px;
	height: 290px;
	overflow: hidden;
}
.con .con_main ul li p{
	width: 180px;
	height: 25px;
	position: absolute;
	top: 240px;
	left: 50px;
	text-align: center;
	background: green;
	border-radius: 4px;
	display: none;
	line-height: 25px;
	color: #FFFFFF;
	cursor: pointer;
}
.con .con_main ul li h6{
	display: block;
	width: 290px;
	height: 26px;
	margin-left: 10px;
	font-weight: lighter;
	font-size: 12px;
}
.con .con_main ul li h6 a{
	font-size: 12px;
	
}
.con .con_main ul li span{
	color: red;
}
.con .con_main ul li b{
	display: block;
	width: 290px;
	height: 26px;
	margin-left: 10px;
	color: red;
	font-size: 18px;
}
/*-------------con结束-----------------------------*/
/*底部-----start*/
/*底部服务项-----start*/
#foot-server{
	width: 100%;
	height: 102px;
	background: #e0e0e0;
	box-sizing: border-box;
	padding: 30px 0;
}
#foot-server ul{
	width: 1200px;
	margin: 0 auto;
	
}
#foot-server ul li{
	width: 190px;
	height: 42px;
	margin-left: 55px;
	padding-left:55px ;
	background-image: url(../img/index/footer_service_icon.png);
	background-repeat: no-repeat;
	float: left;
}
#foot-server ul li:nth-of-type(1){
	background-position: 0px 0px ;
}
#foot-server ul li:nth-of-type(2){
	background-position: 0px -42px ;
}
#foot-server ul li:nth-of-type(3){
	background-position: 0px -84px ;
}
#foot-server ul li:nth-of-type(4){
	background-position: 0px -128px;
}
#foot-server ul li h2{
	color:#008842 ;
	padding-left: 15px;
	line-height: 25px;
	border-left: 1px solid #a6a6a6;
} 
#foot-server ul li p{
	padding-left: 15px;
	border-left: 1px solid #a6a6a6;
} 
/*#foot-server ul li::before{
	content: '';
	display: block;
	width: ;
	
}*/
/*底部服务项-----end*/

/*底部链接----start*/
#foot{
	width: 100%;
	height: 413px;
}
#foot .foot_wrap{
	width: 1200px;
	margin: 0 auto;
	box-sizing: border-box;
	padding-top: 50px;
}
#foot dl{
	width: 190px;
	margin-left: 50px;
	float: left;
}
#foot dl dt{
	height: 23px;
	line-height: 23px;
	font-size: 14px;
	text-indent: 40px;
	background: url(../img/index/footer_icon.png);
	background-repeat:no-repeat ;
	padding-left: 30px;
	margin-bottom: 10px;
}
#foot dl.col1 dt{
	background-position: 20px 0px;
}
#foot dl.col2 dt{
	background-position: 20px 0px;
}
#foot dl.col3 dt{
	background-position: 20px 0px;
}
#foot dl.col4 dt{
	background-position: 20px 0px;
}
#foot dl.col5 dt{
	background-position: 20px 0px;
}
#foot dl dd{
	border-left: 1px solid #e0e0e0;
	padding-left: 20px;
}
#foot dl dd p{
	height: 22px;
}
#foot dl dd p a:hover{
	color: #008842;
	text-decoration: underline;
}
#foot .copyright_server{
	width: 1200px;
	margin: 0 auto;
	text-align: center;
}
#foot .copyright_server .server{
	font-size: 14px;
	color:#008842;
	padding:60px 0 20px;
}
#foot .copyright_server .copyright,.copyright a{
	color: #717171;
}
.copyright a:hover{
	color: #008842;
}
#foot .copyright_server .copyright p{
	margin-bottom: 5px;
	text-align: center;
}
.copyright p.img a{
	display:inline-block;
	height: 47px;
}
.copyright a img{
	height: 47px;
}
.copyright a.cp {
	line-height: 47px;
	margin: 0 5px;
	vertical-align: top;
}
.copyright a.cp::before{
	content: '';
	display: block;
	width: 20px;
	height:20px;
	background: url(../img/index/ghs.png) no-repeat;
	float: left;
	margin-top: 13px;
	margin-right: 5px;
}
/*底部链接----end*/
/*底部-----end*/
/*回到顶部---start*/

#top_server {
	position: fixed;
	bottom: 20px;
	margin-left: 1410px;
}

#top_server div {
	width: 50px;
	height: 42px;
	margin-bottom: 10px;
	background-image: url(../img/index/sidebar.png);
	background-repeat: no-repeat;
}

#top_server div.server {
	background-position: 0px -46px;
}

#top_server div.server:hover {
	background-position: -56px -46px;
}

#top_server div.top {
	display: none;
	background-position: 0px 0px;
}

#top_server div.top:hover {
	background-position: -56px 0px;
}


/*回到顶部---end*/